name: Ojetta's Workflow

on:
  push:
    branches: ojetta
  pull_request:
    branches: ojetta

jobs:
  build:

    runs-on: Windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: gradle
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: GroceryStore-Backend
    - name: Build with Gradle
      run: ./gradlew build
      working-directory: GroceryStore-Backend
